<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit a record:</h1>
<div th:text="'Current name: ' + ${firstname}">Ciao</div>
<div th:text="'Current surname: ' + ${lastname}">Ciao</div>
<div th:text="'Current id: ' + ${id}">Ciao</div>

<form action="update" th:action="@{update(id=${id})}" method="post" >
    New name:<input type="text" name="firstname"><br>
    New surname:<input type="text" name="lastname"><br>
    <input type="submit" />
</form>

<a href="list"> Show the list </a>

</body>
</html>